<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1">
<link rel="icon" type="image/png" href="/logo24-thick.png">
{% if DESC %}
	<meta name="description" content="{{DESC}}">
{% endif %}

{% if NOINDEX %}
	<meta name="robots" content="noindex">
{% else %}
	<link rel="canonical" href="https://yujiri.xyz/{{PATH}}">
	<meta property="og:title" content="{{TITLE}}">
	<meta property="og:description" content="{{DESC}}">
	<meta property="og:image" content="https://yujiri.xyz/logo600.png">
	<meta property="og:url" content="https://yujiri.xyz/{{PATH}}">
	<meta property="og:type" content="website">
	<meta name="twitter:creator" content="@Yujiri3">
{% endif %}

{% for stylesheet in CSS %}
	<link rel="stylesheet" href="{{stylesheet}}">
{% endfor %}
{% for script in JS %}
	<script src="{{script}}"></script>
{% endfor %}
<title>{{TITLE}}</title>
</head>
<body onload="{{ONLOAD}}" onresize="{{ONRESIZE}}">

<div class="navbar">
	<div style="flex:1"></div>
	<nav>{{NAV|safe}}</nav>
	<div style="flex:1; display:flex; justify-content:flex-end">
		<theme-switch></theme-switch>
	</div>
</div>

<article>{{ARTICLE|safe}}</article>

{% if not NO_TIMESTAMP or not NO_COMMENTS %}
<br><hr>
<div style="margin: var(--outer-margins)">
	{% if not NO_TIMESTAMP %}
		<p>This page was last modified <span id="timestamp">{{TIMESTAMP}}</span> (UTC)</p>
	{% endif %}
	{% if not NO_COMMENTS %}
		<comment-section id="comment-section"></comment-section>
	{% endif %}
</div>
{% endif %}

<auth-popup id="authenticator"></auth-popup>
</body>
</html>
